<form [formGroup]="guestFormGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" class="form-control" type="text" formControlName="firstNameCtrl"/>
    <p *ngIf="guestFormGroup.controls.firstNameCtrl.dirty && !guestFormGroup.controls.firstNameCtrl.valid" class="alert-danger">Please add first name.</p>
  </div>
  <div class="form-group">
    <label for="secondName">Second Name</label>
    <input id="secondName" class="form-control" type="text" formControlName="secondNameCtrl" />
    <p *ngIf="guestFormGroup.controls.secondNameCtrl.dirty && !guestFormGroup.controls.secondNameCtrl.valid" class="alert-danger">Please add second name.</p>
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input id="phoneNumber" class="form-control" type="text" formControlName="phoneNumberCtrl" />
    <p *ngIf="guestFormGroup.controls.phoneNumberCtrl.dirty && !guestFormGroup.controls.phoneNumberCtrl.valid" class="alert-danger">Please add valid phone number.</p>
  </div>
  <div class="form-group">
    <label for="withPartner">Do you have partner
        <input id="withPartner" type="checkbox" formControlName="withPartnerCtrl" />
    </label>
  </div>
  <div *ngIf="guestFormGroup.controls.withPartnerCtrl.value">
    <div class="form-group">
      <label for="partnerFirstName"> Partner First Name</label>
      <input id="partnerFirstName" class="form-control" type="text" formControlName="partnerFirstNameCtrl" />
    </div>
    <div class="form-group">
      <label for="partnerSecondName">Partner Second Name</label>
      <input id="partnerSecondName" type="text" class="form-control" formControlName="partnerSecondNameCtrl" />
    </div>
  </div>
  <button class="btn" type="submit" [disabled]="!guestFormGroup.valid">
    Submit
  </button>
</form>
