<form [formGroup]='guestFormGroup'>
  <div>
    <label>
      First Name
      <input type="text" formControlName="firstNameCtrl" />
    </label>
    <p>{{guestFormGroup.controls.firstNameCtrl.value}}</p>
  </div>
  <div>
    <label>
      Second Name
      <input type="text" formControlName="secondNameCtrl" />
    </label>
    <p>{{guestFormGroup.controls.secondNameCtrl.value}}</p>
  </div>
  <div>
    <label>
      Do you have partner
      <input type="checkbox" formControlName="withPartnerCtrl" />
    </label>
    <p>{{guestFormGroup.controls.withPartnerCtrl.value}}</p>
  </div>
  <div *ngIf='guestFormGroup.controls.withPartnerCtrl.value'>
    <div>
      <label>
        Partner First Name
        <input type='text' formControlName='partnerFirstNameCtrl' />
      </label>
      <p>{{guestFormGroup.controls.partnerFirstNameCtrl.value}}</p>
    </div>
    <div>
      <label>
        Partner Second Name
        <input type='text' formControlName='partnerSecondNameCtrl' />
      </label>
      <p>{{guestFormGroup.controls.partnerSecondNameCtrl.value}}</p>
    </div>
  </div>
</form>
